{
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "eslint:recommended",
    "prettier-standard/prettier-file"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {}
}
