@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/fontawesome.woff2") format("woff2");
}

@font-face {
  font-family: "Mfizz";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/mfixx.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/mfixx.woff2") format("woff2");
}

@font-face {
  font-family: "Devicons";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/devopicons.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/devopicons.woff2") format("woff2");
}

@font-face {
  font-family: "file-icons";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/file-icons.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/file-icons.woff2") format("woff2");
}

@font-face {
  font-family: "Octicons Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/octicons.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/octicons.woff2") format("woff2");
}
